/* ====================================   CORES QUE COMBINAM  ========================================================= */

body{
	background: linear-gradient(-45deg,blue, green, green);
}

.teste {
	background-color:red;
	color:white;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid lightblue;
	column-width: 100px;
}

h2 {
    column-span: all;
	background-color:beige;
	color:lavander;
	text-align:center;
}

.bloco{
	width:500px;
	background-color:grey;
	color:white;
	border: 1px black solid;
	position:relative;
	margin:0 auto;
	margin-top:100px;
	opacity:0.5;
}
